# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.opensdf
*.autosave
*.pro.user.*
*.sdf
*.sln
*.vcxproj
*.user
*.suo
*.filters
*.aps
*.ilk
*.log
*.pdb
*.res
*.tlog
*.lastbuildstate
*.pro
*.rc
*.yaml
*.qm

# Folders
GeneratedFiles/
debug/
Release/
Win32/
build-FeaturePointsComparison-Desktop_Qt_5_4_1_MSVC2013_32bit-Debug/
build-FeaturePointsComparison-Desktop_Qt_5_10_1_MSVC2013_32bit-Debug/
PalmprintRegistration/